# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env
.venv

# Database
*.db
*.sqlite3

# Distribution / Packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.idea/
.vscode/

# Project specific

