fastapi
uvicorn[standard]
sqlmodel
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
yfinance
pandas
scikit-learn
shap
numpy
requests
joblib
pydantic-settings
feedparser 

scipy
qiskit==1.2.4 
qiskit-aer 
qiskit-optimization 
qiskit-algorithms==0.3.1